* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#notebookEl {}

section {
  padding: 10px;
}

section,
button,
#noteName,
#noteText,
#noteName::placeholder,
#noteText::placeholder {
  color: crimson;
}

ul a {
  text-decoration: none;
  color: lightseagreen;
}

h3,
h4, button {
  text-transform: uppercase;
}

h3 {
  margin: 20px 0;
}

h4 {
  margin: 10px 0;
}

#wrapLinksAndEnter {
  display: flex;
  justify-content: space-around;
}

li {
  margin: 10px 0;
}

button,
#noteText {
  border: 1px solid lightseagreen;
  padding: 10px;
  border-radius: 10px;
}

button {
  cursor: pointer;
  background: none;
}

button:hover {
  background: lightseagreen;
}

#note {
  width: 50%;
}

#noteName {
  border: none;
  /* border-bottom: 1px solid lightseagreen; */
  font-size: 16px;
}

#noteName,
#noteText {
  outline: none;
  width: 100%;
}

#noteText {
  margin-bottom: 10px;
}