* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#stickers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

#stickers button {
  cursor: pointer;
}

#stickers button,
.stickerText {
  border: none;
  color: crimson;
  padding: 5px;
}

.sticker {
  width: 300px;
  height: 400px;
}

.stickerText,
.addSticker {
  width: 100%;
  height: 300px;
  background: beige;
  border-radius: 0 20px;
}

.addSticker {
  margin-top: 27px;
  font-size: 50px;
}

.stickerText {
  outline: none;
  padding: 10px;
}